#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.opensdf
*.sdf
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
NDependOut/
*.tmp_proj
*.orig
.vs/

#ignore nuget packages 
packages
nuget/lib
nuget/*.nupkg

#ignore test data
TestData

#ignore linux backup files
*~
/Src/.vs/Penneo/v15/Server/sqlite3
